@use "../abstracts/variables" as *;

@mixin font-dm-400 {
  font-family: $font-dm-serif;
  font-weight: 400;
}
@mixin font-karla-400 {
  font-family: $font-karla;
  font-weight: 400;
}
@mixin font-karla-700 {
  font-family: $font-karla;
  font-weight: 700;
}

@mixin headings {
  font-size: 2.5rem;
  line-height: 1;
}

@mixin buttons {
  background: transparent;
  border: 1px solid $neutral-very-light-gray;
  color: $neutral-very-light-gray;
  cursor: pointer;
  padding: 0.3rem 1.5rem;
  letter-spacing: 1px;
}
