$primary-dk-violet: hsl(256, 26%, 20%);
$primary-grayish-blue: hsl(216, 30%, 68%);
$neutral-very-dk-violet: hsl(270, 9%, 17%);
$neutral-dk-grayish-violet: hsl(273, 4%, 51%);
$neutral-very-light-gray: hsl(0, 0%, 98%);

$font-dm-serif: "DM Serif Display", serif;
$font-karla: "Karla", sans-serif;
