@use "../abstracts/variables" as *;
footer {
  background-color: $neutral-light-gray;
  position: relative;

  .footer-top {
    border-bottom: 1px solid lighten($primary-dk-violet, 50%);
    margin-inline: 1.5rem;
    padding-block: 5rem 2.5rem;

    > img {
      left: 0;
      position: absolute;
      top: 0;
    }
    .footer-deco-desktop {
      display: none;
    }
    > * {
      margin-inline: auto;
      width: fit-content;
    }
    .social-icons-wrapper {
      display: flex;
      gap: 1.5rem;
      margin-top: 1.5rem;

      > * {
        cursor: pointer;

        &:hover {
          filter: brightness(0);
        }
      }
    }
  }
  .footer-bottom {
    padding-bottom: 3rem;

    h4 {
      margin-block: 2rem 1rem;
      opacity: 0.4;
    }
    ul li {
      cursor: pointer;
      font-weight: 700;
    }
    ul li:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  @media screen and (width > 650px) {
    padding-inline: $desktop-inline-padding;

    .footer-top {
      display: flex;
      justify-content: space-between;
      margin: 0;

      > * {
        margin-inline: unset;
      }
      .social-icons-wrapper {
        margin-top: 0;
      }
      .footer-deco-desktop {
        display: block;
        filter: brightness(0.8);
        pointer-events: none;
      }
      .footer-deco-mobile {
        display: none;
      }
      .logo-wrapper {
        position: relative;
      }
    }
    .footer-bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      ul {
        display: grid;
        justify-items: left;

        li {
          font-size: 1rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
