@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;

  nav {
    .close-icon-wrapper {
      display: none;
    }
    ul {
      background-color: $primary-dk-violet;
      inset: 0;
      margin-top: 5rem;
      position: absolute;
      text-align: center;
      transform: translatex(-100vw);
      transition: transform 0.5s ease;
      z-index: 999;

      li {
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
        margin-block: 1.5rem;
        margin-inline: auto;
        min-width: fit-content;
        padding-block: 0.5rem;
        width: 90%;
      }

      .nav-mobile-decoration {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;

        img {
          min-width: 100vw;
        }
      }

      button {
        @include buttons($neutral-very-light-gray);
        font-weight: 700;
        padding-block: 0.75rem;
        width: 75%;
      }
    }
    @media screen and (width > 650px) {
      margin-block: 1.5rem;

      .hamburger-wrapper {
        display: none;
      }

      ul {
        align-items: center;
        background-color: unset;
        display: flex;
        gap: 2rem;
        margin-top: 0;
        position: static;
        transform: unset;

        li {
          color: $primary-dk-violet;
          font-size: 1.25rem;
          margin: 0;
          opacity: 0.7;
          padding: 0;

          &:hover {
            opacity: 1;
            text-shadow: 0px 0px 0px $primary-dk-violet;
          }
        }
        button {
          @include buttons($primary-dk-violet);
          margin-left: 1.5rem;
          min-width: fit-content;

          &:hover {
            background-color: $primary-dk-violet;
            color: $neutral-very-light-gray;
          }
        }
        .nav-mobile-decoration {
          display: none;
        }
      }
    }
  }
  @media screen and (width > 650px) {
    padding-block: 0;
    padding-inline: $desktop-inline-padding;
  }
}
