@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.section-different {
  &::before {
    @include section-decoration($primary-dk-violet);
  }

  h2 {
    margin-bottom: 5rem;
  }

  .card-wrapper {
    display: grid;
    gap: 3.5rem;
  }

  @media screen and (width > 650px) {
    padding-inline: $desktop-inline-padding;
    margin-top: 20rem;

    &::before {
      margin-inline: unset;
    }

    .card-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 3.5rem;

      .card {
        margin-inline: unset;
        padding-inline: unset;
        padding-right: 1.5rem;
      }
    }
  }
}
