@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// once we get a media query in place we can get rid of above

.section-hero {
  background-color: $primary-dk-violet;
  margin-bottom: 9rem;

  .hero-img-wrapper-mobile {
    img {
      width: 100%;
    }
  }
  .hero-img-wrapper-desktop {
    display: none;
  }

  .hero-content {
    padding: 5.5rem 2rem;
    position: relative;

    h1,
    p {
      color: $neutral-very-light-gray;
    }

    h1 {
      margin-bottom: 1rem;
      position: relative;
      z-index: 5;
    }

    p {
      margin-bottom: 2rem;
    }

    img:first-child {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    img:last-child {
      position: absolute;
      right: 0;
      bottom: -12rem;
      z-index: 1;
    }

    button {
      position: relative;
      z-index: 5;
    }
  }
  .hero-deco-right,
  .hero-deco-left {
    display: none;
  }
  @media screen and (width > 650px) {
    min-height: 625px;
    padding-inline: $desktop-inline-padding;
    position: relative;
    display: grid;
    align-items: end;

    .hero-content {
      max-width: 64ch;
      padding-inline: 0rem 4rem;

      p {
        margin-top: 2.5rem;
      }

      &::before {
        @include section-decoration(white);
        position: absolute;
        top: 0;
      }
    }

    .hero-img-wrapper-desktop {
      display: block;
      position: absolute;
      right: $desktop-inline-padding;
      top: 8rem;
    }

    .hero-img-wrapper-mobile,
    .hero-content img:first-child,
    .hero-content img:last-child {
      display: none;
    }

    .hero-deco-right,
    .hero-deco-left {
      position: absolute;
      display: block;
    }

    .hero-deco-left {
      left: 0;
      top: 75%;
    }

    .hero-deco-right {
      right: 0;
      top: 0;
    }
  }
}
