@use "../abstracts/mixins" as *;

.section-different {
  &::before {
    @include section-decoration;
  }

  h2 {
    margin-bottom: 5rem;
  }

  .card-wrapper {
    display: grid;
    gap: 3.5rem;
  }
}
