.card {
  padding-inline: 1.5rem;
  max-width: 25rem;
  margin-inline: auto;
  img {
    margin-inline: auto;
  }
  h3 {
    font-size: 1.75rem;
    margin-block: 2rem 1rem;
  }

  p {
    opacity: 0.7;
  }

  @media screen and (width > 650px) {
    img {
      margin-inline: unset;
    }
  }
}
