*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

h1,
h2,
.section-cta p {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  line-height: 1;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

section,
footer {
  text-align: center;
}
@media screen and (width > 650px) {
  section,
  footer {
    text-align: unset;
  }
}

button {
  background: transparent;
  border: 2px solid hsl(0, 0%, 98%);
  color: hsl(0, 0%, 98%);
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  letter-spacing: 1px;
}

.card {
  margin-inline: auto;
  max-width: 25rem;
  padding-inline: 1.5rem;
}
.card img {
  margin-inline: auto;
}
.card h3 {
  font-size: 1.75rem;
  margin-block: 2rem 1rem;
}
.card p {
  opacity: 0.7;
}
@media screen and (width > 650px) {
  .card img {
    margin-inline: unset;
  }
}

footer {
  background-color: hsl(0, 0%, 96%);
  position: relative;
}
footer .footer-top {
  border-bottom: 1px solid #a99fc6;
  margin-inline: 1.5rem;
  padding-block: 5rem 2.5rem;
}
footer .footer-top > img {
  left: 0;
  position: absolute;
  top: 0;
}
footer .footer-top .footer-deco-desktop {
  display: none;
}
footer .footer-top > * {
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer-top .social-icons-wrapper {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
footer .footer-top .social-icons-wrapper > * {
  cursor: pointer;
}
footer .footer-top .social-icons-wrapper > *:hover {
  filter: brightness(0);
}
footer .footer-bottom {
  padding-bottom: 3rem;
}
footer .footer-bottom h4 {
  margin-block: 2rem 1rem;
  opacity: 0.4;
}
footer .footer-bottom ul li {
  cursor: pointer;
  font-weight: 700;
}
footer .footer-bottom ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media screen and (width > 650px) {
  footer {
    padding-inline: 12rem;
  }
  footer .footer-top {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  footer .footer-top > * {
    margin-inline: unset;
  }
  footer .footer-top .social-icons-wrapper {
    margin-top: 0;
  }
  footer .footer-top .footer-deco-desktop {
    display: block;
    filter: brightness(0.8);
    pointer-events: none;
  }
  footer .footer-top .footer-deco-mobile {
    display: none;
  }
  footer .footer-top .logo-wrapper {
    position: relative;
  }
  footer .footer-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  footer .footer-bottom ul {
    display: grid;
    justify-items: left;
  }
  footer .footer-bottom ul li {
    font-size: 1rem;
  }
  footer .footer-bottom ul li:hover {
    text-decoration: underline;
  }
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
header nav .close-icon-wrapper {
  display: none;
}
header nav ul {
  background-color: hsl(256, 26%, 20%);
  inset: 0;
  margin-top: 5rem;
  position: absolute;
  text-align: center;
  transform: translatex(-100vw);
  transition: transform 0.5s ease;
  z-index: 999;
}
header nav ul li {
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin-block: 1.5rem;
  margin-inline: auto;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-block: 0.5rem;
  width: 90%;
}
header nav ul .nav-mobile-decoration {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
header nav ul .nav-mobile-decoration img {
  min-width: 100vw;
}
header nav ul button {
  background: transparent;
  border: 2px solid hsl(0, 0%, 98%);
  color: hsl(0, 0%, 98%);
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  padding-block: 0.75rem;
  width: 75%;
}
@media screen and (width > 650px) {
  header nav {
    margin-block: 1.5rem;
  }
  header nav .hamburger-wrapper {
    display: none;
  }
  header nav ul {
    align-items: center;
    background-color: unset;
    display: flex;
    gap: 2rem;
    margin-top: 0;
    position: static;
    transform: unset;
  }
  header nav ul li {
    color: hsl(256, 26%, 20%);
    font-size: 1.25rem;
    margin: 0;
    opacity: 0.7;
    padding: 0;
  }
  header nav ul li:hover {
    opacity: 1;
    text-shadow: 0px 0px 0px hsl(256, 26%, 20%);
  }
  header nav ul button {
    background: transparent;
    border: 2px solid hsl(256, 26%, 20%);
    color: hsl(256, 26%, 20%);
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    letter-spacing: 1px;
    margin-left: 1.5rem;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  header nav ul button:hover {
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
  }
  header nav ul .nav-mobile-decoration {
    display: none;
  }
}
@media screen and (width > 650px) {
  header {
    padding-block: 0;
    padding-inline: 12rem;
  }
}

.section-cta {
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  margin: 8rem 1.5rem;
  padding: 4rem 1.5rem;
  position: relative;
}
.section-cta img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.section-cta img:last-child {
  display: none;
}
.section-cta p {
  margin-bottom: 3rem;
  position: relative;
  z-index: 5;
}
@media screen and (width > 650px) {
  .section-cta {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 8rem 12rem;
    padding: 4rem 6rem;
  }
  .section-cta img:first-child {
    display: none;
  }
  .section-cta img:last-child {
    display: block;
    height: 100%;
    pointer-events: none;
  }
  .section-cta p {
    flex-basis: 50%;
    font-size: clamp(2.5rem, 5vw, 3rem);
    margin: 0;
  }
  .section-cta button:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
    position: relative;
    z-index: 5;
  }
}

.section-different::before {
  content: "";
  width: 150px;
  height: 2px;
  background-color: hsl(256, 26%, 20%);
  display: block;
  margin-inline: auto;
  margin-bottom: 3rem;
  opacity: 0.4;
}
.section-different h2 {
  margin-bottom: 5rem;
}
.section-different .card-wrapper {
  display: grid;
  gap: 3.5rem;
}
@media screen and (width > 650px) {
  .section-different {
    padding-inline: 12rem;
    margin-top: 20rem;
  }
  .section-different::before {
    margin-inline: unset;
  }
  .section-different .card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
  }
  .section-different .card-wrapper .card {
    margin-inline: unset;
    padding-inline: unset;
    padding-right: 1.5rem;
  }
}

.section-hero {
  background-color: hsl(256, 26%, 20%);
  margin-bottom: 9rem;
}
.section-hero .hero-img-wrapper-mobile img {
  width: 100%;
}
.section-hero .hero-img-wrapper-desktop {
  display: none;
}
.section-hero .hero-content {
  padding: 5.5rem 2rem;
  position: relative;
}
.section-hero .hero-content h1,
.section-hero .hero-content p {
  color: hsl(0, 0%, 98%);
}
.section-hero .hero-content h1 {
  margin-bottom: 1rem;
  position: relative;
  z-index: 5;
}
.section-hero .hero-content p {
  margin-bottom: 2rem;
}
.section-hero .hero-content img:first-child {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
.section-hero .hero-content img:last-child {
  bottom: -12rem;
  position: absolute;
  right: 0;
  z-index: 1;
}
.section-hero .hero-content button {
  position: relative;
  z-index: 5;
}
.section-hero .hero-content button:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
}
.section-hero .hero-deco-right,
.section-hero .hero-deco-left {
  display: none;
}
@media screen and (width > 650px) {
  .section-hero {
    align-items: end;
    display: grid;
    min-height: 625px;
    padding-inline: 12rem;
    position: relative;
  }
  .section-hero .hero-content {
    max-width: 64ch;
    padding-inline: 0rem 4rem;
  }
  .section-hero .hero-content p {
    margin-top: 2.5rem;
  }
  .section-hero .hero-content::before {
    content: "";
    width: 150px;
    height: 2px;
    background-color: white;
    display: block;
    margin-inline: auto;
    margin-bottom: 3rem;
    opacity: 0.4;
    position: absolute;
    top: 0;
  }
  .section-hero .hero-img-wrapper-desktop {
    display: block;
    position: absolute;
    right: 12rem;
    top: 8rem;
  }
  .section-hero .hero-img-wrapper-mobile,
  .section-hero .hero-content img:first-child,
  .section-hero .hero-content img:last-child {
    display: none;
  }
  .section-hero .hero-deco-right,
  .section-hero .hero-deco-left {
    display: block;
    position: absolute;
  }
  .section-hero .hero-deco-left {
    left: 0;
    top: 75%;
  }
  .section-hero .hero-deco-right {
    right: 0;
    top: 0;
  }
}/*# sourceMappingURL=main.css.map */